<section class="inventory-form-view" aria-labelledby="delete-inventory-title">
  <h1 id="delete-inventory-title"><%= title %></h1>

  <%- messages() %>

  <% if (errors) { %>
    <ul class="notice">
      <% errors.array().forEach((error) => { %>
        <li><%= error.msg %></li>
      <% }) %>
    </ul>
  <% } %>

  <div class="inventory-form-card">
    <p class="inventory-form-required">Confirm Deletion - The delete is permanent.</p>

    <form class="inventory-form" action="/inv/delete/" method="post">
      <div class="form-row">
        <label for="inv_make">Make</label>
        <input
          type="text"
          id="inv_make"
          name="inv_make"
          value="<%= locals.inv_make %>"
          readonly
        >
      </div>

      <div class="form-row">
        <label for="inv_model">Model</label>
        <input
          type="text"
          id="inv_model"
          name="inv_model"
          value="<%= locals.inv_model %>"
          readonly
        >
      </div>

      <div class="form-row">
        <label for="inv_year">Year</label>
        <input
          type="text"
          id="inv_year"
          name="inv_year"
          value="<%= locals.inv_year %>"
          readonly
        >
      </div>

      <div class="form-row">
        <label for="inv_price">Price</label>
        <input
          type="text"
          id="inv_price"
          name="inv_price"
          value="<%= locals.inv_price %>"
          readonly
        >
      </div>

      <button class="auth-submit" type="submit">Delete</button>

      <input type="hidden" name="inv_id"
      <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
      <% } %>>
    </form>
  </div>
</section>
